<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyHook" version="2.7.6270" targetFramework="net472" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net472" />
  <package id="Optional" version="4.0.0" targetFramework="net472" />
  <package id="PS4RemotePlayInterceptor" version="0.5.2" targetFramework="net472" />
</packages>